// Change this to change all the bundle IDs and app groups
ROOT_BUNDLE_IDENTIFIER = com.bbarrows.iSHAPK

// Choose logging channels to enable. Separate by spaces. Try "verbose strace".
ISH_LOG =

ROOTFS_URL = http://dl-cdn.alpinelinux.org/alpine/v3.12/releases/x86/alpine-minirootfs-3.12.1-x86.tar.gz

PRODUCT_APP_GROUP_IDENTIFIER = group.$(ROOT_BUNDLE_IDENTIFIER)
